@*@model MusicAlbum

<p>@Model.id</p>*@


<<<<<<< HEAD
<p>Hi, welcome to the index page.  Click on home up top to get to the search until we fix all the views</p>
=======
<p>Hi, welcome to the index page</p>
<p><a asp-controller="Music" asp-action="MusicSearch">Search For an Album by ID</a></p>
>>>>>>> ed005bc59daba15662b039e728c14e806c19252f
