
@model MusicSearch

@foreach(Datum d in Model.data)
{
    <p>@d.title</p>
    <p>@d.album.title <a asp-controller="Music" asp-action="GetAlbum" asp-route-id="@d.album.id">Get This Album Information</a></p>
    @d.artist.name

}



