
<h1>Search</h1>
<form asp-action="MusicSearch" asp-controller="Music" method="post">

<<<<<<< HEAD
    <p>Artist</p>
    <input name="artist" type="text"/>
=======

    <p>Album</p>
    <input name="album" type="text"/>
>>>>>>> 283f7584808926495f29ea5491abcc63f2a726a7


    <input type="submit"/>
</form>

<form asp-action="AlbumSearch" asp-controller="Music" method="post">

    <p>Album</p> 
    <input name="album" type="text" />

    <input type="submit" />
</form>

<form asp-action="TrackSearch" asp-controller="Music" method="post">

    <p>Song</p>
    <input name="song" type="text" />

    <input type="submit" />
</form>