

<form asp-controller="Music" asp-action="MusicSearch" method="post">
    <input type="text" name="data" required /><br>
    <label for="artist">Artist </label><input type="radio" id="SearchBy" name="SearchBy" value="artist" checked><br>
    <label for="album">Album </label><input type="radio" id="SearchBy" name="SearchBy" value="album"><br>
    <label for="song">Song </label><input type="radio" id="SearchBy" name="SearchBy" value="song"><br>
    <input type="submit" value="Search!" />
</form>


