

<form asp-controller="Music" asp-action="MusicTESTSearch" method="post">
    <input type="text" name="data"/><br>
<input type="radio" id="SearchBy" name="SearchBy" value="artist">
<label for="artist">Artist</label>
<br>
<input type="radio" id="SearchBy" name="SearchBy" value="album">
<label for="album">Album</label>
<br>
<input type="radio" id="SearchBy" name="SearchBy" value="song">
<label for="song">Song</label>
    <input type="submit" />
</form>


    <button>Add <span style="font-size:100%;color:red;">&#10084;</span> to favorites!</button>

